@font-face {
    font-family: BrohTec;
    src: url("font/NotoSans-Black.ttf");
}
*{
    font-family: BrohTec;
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: bisque;
}
header{
    display: flex;
    justify-content: space-around;
    /* background-color: red; */
    padding: 10px;
}
h1{
    margin-right:10cm ;
    padding: relative;
}

.nav1{
    display: flex;
    width: 10cm;
    /* background: blue; */
    justify-content: space-around;
}
.nav2{
    display: flex;
    width: 7cm;
    justify-content: space-around;

}

a {
    text-decoration: none;
}
